* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background:  grey;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    justify-content: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    color: blueviolet;
}

.detel {
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: #CBC3E3;
}

.detel p {
   color: white;
   line-height: 22px; 
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detel a:hover {
    color: blueviolet;
}
.images {
    width: 15%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: relative;
    left: 25%;
    bottom: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style for the footer */
.site-footer {
    background-color:  black;
    color: #fff;
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 100px; /* Sesuaikan ukuran logo */
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    display: inline;
    margin-right: 20px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
}

.footer-social a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.footer-social a:hover {
    color: blueviolet;
}

.footer-links ul li a:hover {
    color: blueviolet;
}

/* Font Awesome Icons (you need to include Font Awesome in your project) */


